<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory name="java:hibernate/SessionFactory">

        <!-- properties -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:/home/valeri/IdeaProjects/MobileGate/gate.db</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>

        <!--<property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory        </property>-->
        <!--<property name="connection.datasource">java:/comp/env/jdbc/MyDB</property>-->
        <!--<property name="jta.UserTransaction">java:comp/UserTransaction</property>-->

        <!-- mapping files -->

        <!-- cache settings -->
        <!--<class-cache class="org.hibernate.auction.Item" usage="read-write"/>-->
        <!--<class-cache class="org.hibernate.auction.Bid" usage="read-only"/>-->
        <!--<collection-cache collection="org.hibernate.auction.Item.bids" usage="read-write"/>-->

        <mapping class="ee.valja7.gate.persistence.UserEntity"/>
        <mapping class="ee.valja7.gate.persistence.PhoneEntity"/>
        <mapping class="ee.valja7.gate.persistence.RightEntity"/>
        <mapping class="ee.valja7.gate.persistence.UserRightEntity"/>
        <mapping class="ee.valja7.gate.persistence.UsersEntity"/>
    </session-factory>
</hibernate-configuration>