#* @vtlvariable name="port" type="java.lang.String" *#
#@admin_layout("modem")
<div class="container">
    <div class="row">
        <label class="col-sm-6 control-label">Serial port</label>
        <div class="col-sm-6 selectContainer">
            <select class="form-control" name="serialPort">
                #foreach($port in $ports )
                    <option #if($port.equals($portName)) selected #end value="$port">$port</option>
                #end
            </select>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-6 control-label">Modem Status: #if(!$portIsOpened)
            Not #end Connected</label>
        <button type="submit" class="col-sm-6 btn btn-default">#if($portIsOpened)
            Disconnect  #else Connect #end</button>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <label class="col-sm-6 control-label">Gate Status: CLOSED</label>
        <button type="submit" class="col-sm-6 btn btn-default">Open</button>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <label class="col-sm-6">
            Scheduller Next opening time:
        </label>
        <div class="col-sm-6">$openTime</div>
        <div class="col-sm-6"></div>
    </div>
</div>
#end